.grid {
  height: 100vh;
  width: 100vh;
  display: grid;
  grid-template-rows: repeat(4, minmax(200px, 1fr));
  grid-template-columns: repeat(11, minmax(150px, 1fr)); }
  .grid__title {
    grid-row: 1/2;
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    font-size: 18px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 22px;
    padding: 55px 75px; }

.grid__skew-light-one {
  z-index: 10;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #5496E6;
  margin-bottom: -1px;
  grid-column: 1/2;
  grid-row: 3/4; }

.grid__skew-light-two {
  z-index: 10;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #5496E6;
  grid-column: 2/3;
  grid-row: 4/5; }

.grid__skew-light-three-box {
  z-index: 10;
  background-color: #5496E6;
  grid-column: 1/2;
  grid-row: 4/5; }

.grid__skew-dark-one-box {
  z-index: -10;
  background-color: #518BDE;
  grid-column: 1/3;
  grid-row: 1/5; }

.grid__skew-dark-two {
  z-index: -10;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  background-color: #518BDE;
  grid-column: 1/5;
  grid-row: 1/5; }

.grid__skew-dark-three {
  background-color: #518BDE;
  grid-column: 1/2;
  grid-row: 4/5; }

.picker {
  grid-column: 5/10;
  grid-row: 2/3;
  justify-self: center; }
  .picker input {
    font-size: 80px;
    font-family: 'Roboto Condensed';
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
    color: #444;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #E3B924; }
    .picker input:focus {
      outline: none; }

.button {
  grid-row: 3/4;
  grid-column: 5/10;
  justify-self: center;
  height: 50px;
  width: 350px;
  background-color: #5496E6;
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  color: white;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 20px;
  box-shadow: 0px 0px 30px 2px black; }

.clock {
  text-align: left;
  grid-row: 3/4;
  grid-column: 2/11;
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  height: 65%;
  width: 100%;
  align-self: end;
  background-color: #444;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 275px));
  grid-column-gap: 30px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center; }
  .clock__box {
    margin-top: 24px;
    display: flex;
    flex-direction: column; }
  .clock__title {
    font-size: 22px;
    line-height: 25px;
    color: #F7D754;
    font-family: 'Roboto Condensed'; }
  .clock__amount {
    font-size: 90px;
    font-weight: bold;
    line-height: 115px;
    color: white;
    font-family: 'Roboto Condensed'; }
